@model IEnumerable<NerfBuff.Models.Posts>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fortnite Blog</h1>

@if ((bool)ViewBag.IsAdmin)
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}


<form asp-controller="Posts" asp-action="Index">
    <p>
        Title: <input type="text" name="Title"> Author: <input type="text" name="Author"> Content: <input type="text" name="Content">
        <input type="submit" value="Search" />
    </p>
</form>

@foreach (var post in Model)
{

<article class="blogPost">
    <header>
        <h2>@(post.Title)</h2>
        <p style="font-size:18px">
            Posted on @(post.Date) by @(post.Author)
        </p>

    </header>
    <p style="font-size:16px">@(post.Content)</p>

    @if ((bool)ViewBag.IsAdmin)
    {
        <p>
            <a asp-action="Edit" asp-route-id="@post.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@post.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@post.Id">Delete</a>
        </p>
    }

    <h3>Comments:</h3>

    @foreach (var comment in post.Comments)
    {
        <p>Posted on @(comment.Date) by @(comment.Author)</p>
        <p>@(comment.Content)</p>
    }

    <button>view comments</button>
        <p>
            <div class="form-group">
                Add a comment:
                <textarea id="newComment@(post.Id)" class="form-control"></textarea>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" onclick="PostComment(@post.Id)" />
            </div>
        </p>
</article>
    <hr />
}
